/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: 'DM Sans', sans-serif !important;
  font-weight: 500;
  font-style: normal;
  color: #fff;
  background-color: #18191a;
}

a {
  color: #c5cde9;
  text-decoration: none;
}

a:hover {
  color: #99a0b5;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Sans", sans-serif !important;
  font-weight: 500;
  font-style: normal;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #c5cde9;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #99a0b5;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

.bi-arrow-up-short::before {
  color: #000;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #18191a;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #c5cde9;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
}

@media (max-width: 991px) {
  #header {
    width: 300px;
    background: #151616;
    left: -300px;
  }
}

@media (min-width: 991px) {
  #main {
    margin-left: 100px;
  }


}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.nav-menu {
  padding: 0;
  display: block;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 10px 18px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 50px;
  background: #494042;
  height: 56px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 20px;
}

.nav-menu a span,
.nav-menu a:focus span {
  padding: 0 5px 0 7px;
  color: #fff;
}

@media (min-width: 992px) {

  .nav-menu a,
  .nav-menu a:focus {
    width: 56px;
  }

  .nav-menu a span,
  .nav-menu a:focus span {
    display: none;
    color: #fff;
  }
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
  color: #fff;
}

.nav-menu a.nav-link-smrt.active,
.nav-menu a.nav-link-smrt:hover {
  background: #cf3d3d;
}

.nav-menu a.nav-link-sbst.active,
.nav-menu a.nav-link-sbst:hover {
  background: #6d1d88;
}

.nav-menu a:hover span,
.nav-menu .active span,
.nav-menu .active:focus span,
.nav-menu li:hover>a span {
  color: #fff;
}

.nav-menu a:hover,
.nav-menu li:hover>a {
  width: 100%;
  color: #fff;
}

.nav-menu a:hover span,
.nav-menu li:hover>a span {
  display: block;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 9998;
  border: 0;
  background: #c8cde6;
  font-size: 30px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 0;
  cursor: pointer;
  border-radius: 50px;
  padding: 5px;
}

.mobile-nav-toggle i {
  color: #000;
}


.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle {
  color: #fff;
  background-color: #c5cde9;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/r151_uTx2171F.jpg") top right no-repeat;
  background-size: cover;
  position: relative;
}

#hero-sbst {
  width: 100%;
  height: 100vh;
  background: url("../img/c851e_tst.jpg") top right no-repeat;
  background-size: cover;
  position: relative;
}

@media (min-width: 992px) {

  #hero,
  #hero-sbst {
    padding-left: 100px;
  }
}

#hero:before,
#hero-sbst:before {
  content: "";
  background-color: rgba(0, 0, 0, 0.801);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero h1,
#hero-sbst h1 {
  margin: 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
  cursor: default;
}

#hero p,
#hero-sbst p {
  margin: 15px 0 0 0;
  font-size: 26px;
  font-family: "DM Sans", sans-serif;
  cursor: default;
  color: #c5cde9;
  letter-spacing: 1px;
}

#hero .cr-links,
#hero-sbst .cr-links {
  margin-top: 30px;
}

#hero .cr-links a,
#hero-sbst .cr-links a {
  font-size: 24px;
  display: inline-block;
  color: #c5cde9;
  line-height: 1;
  margin-right: 20px;
  transition: 0.3s;
}

#hero .cr-links a:hover,
#hero-sbst .cr-links a:hover {
  color: #99a0b5;
}

@media (max-width: 992px) {

  #hero,
  #hero-sbst {
    text-align: center;
  }

  #hero h1,
  #hero-sbst h1 {
    font-size: 52px;
    line-height: 55px;
    text-align: center;
  }

  #hero p,
  #hero-sbst p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 21px;
    line-height: 27px;
  }
}

/* NEW */
#lrd {
  margin-left: 9em;
  margin-right: 9em;
}

#hero a.credits,
#hero-sbst a.credits {
  font-size: 15px;
  margin-left: 2px;
  margin-bottom: 2px;
}


.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #242526;
  background-clip: border-box;
  border: 1px solid #19191a;
  border-radius: 0.35rem;
}

.card>hr {
  margin-right: 0;
  margin-left: 0;
}

.card>.list-group {
  border-top: inherit;
  border-bottom: inherit;
}

.card>.list-group:first-child {
  border-top-width: 0;
  border-top-left-radius: calc(0.35rem - 1px);
  border-top-right-radius: calc(0.35rem - 1px);
}

.card>.list-group:last-child {
  border-bottom-width: 0;
  border-bottom-right-radius: calc(0.35rem - 1px);
  border-bottom-left-radius: calc(0.35rem - 1px);
}

.card>.card-header+.list-group,
.card>.list-group+.card-footer {
  border-top: 0;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.card-title {
  margin-bottom: 0.75rem;
}

.card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link:hover {
  text-decoration: none;
}

.card-link+.card-link {
  margin-left: 1.25rem;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #3a3b3c;
}

.card-header:first-child {
  border-radius: calc(0.35rem - 1px) calc(0.35rem - 1px) 0 0;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: #f8f9fc;
  border-top: 1px solid #e3e6f0;
}

.card-footer:last-child {
  border-radius: 0 0 calc(0.35rem - 1px) calc(0.35rem - 1px);
}

.card-header-tabs {
  margin-right: -0.625rem;
  margin-bottom: -0.75rem;
  margin-left: -0.625rem;
  border-bottom: 0;
}

.card-header-pills {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
  border-radius: calc(0.35rem - 1px);
}

.card-img,
.card-img-top,
.card-img-bottom {
  flex-shrink: 0;
  width: 100%;
}

.card-img,
.card-img-top {
  border-top-left-radius: calc(0.35rem - 1px);
  border-top-right-radius: calc(0.35rem - 1px);
}

.card-img,
.card-img-bottom {
  border-bottom-right-radius: calc(0.35rem - 1px);
  border-bottom-left-radius: calc(0.35rem - 1px);
}

.card-deck .card {
  margin-bottom: 0.75rem;
}

/* NEW */
.bi-x::before,
.bi-list::before {
  color: #000;
}

.border-left-nsl {
  border-left: 0.25rem solid #ff2a2a !important;
}

.border-left-ewl {
  border-left: 0.25rem solid #009645 !important;
}

.border-left-ccl {
  border-left: 0.25rem solid #e48d05 !important;
}

.border-left-tel {
  border-left: 0.25rem solid #9d5a18 !important;
}

.border-left-lrt {
  border-left: 0.25rem solid #708472 !important;
}

.border-left-nel {
  border-left: 0.25rem solid #824794 !important;
}

.border-left-dtl {
  border-left: 0.25rem solid #035eba !important;
}

.text-nsl {
  color: #ff2a2a !important;
}

.text-ewl {
  color: #009645 !important;
}

.text-ccl {
  color: #e48d05 !important;
}

.text-tel {
  color: #9d5a18 !important;
}

.text-lrt {
  color: #708472 !important;
}

.text-nel {
  color: #824794 !important;
}

.text-dtl {
  color: #035eba !important;
}

.text-info {
  color: #36b9cc !important;
}

p.accord-lrd {
  font-size: 18px;
}

p.accord-p {
  font-size: 20px;
  font-weight: bold;
}

p.accord-date {
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
}

p.accord-twt {
  font-size: 18px;
}

.accordion-header {
  background-color: #000;
}

.accordion-item {
  border-color: #000;
  margin-bottom: 10px;
}

.accordion-body {
  background-color: #292a2c;
  color: #fff;
}

.accordion-button.collapsed {
  background-color: #3a3b3c;
  color: #fff;
}


.accordion-button::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.accordion-button:not(.collapsed) {
  background-color: #c4cbe7;
  background-clip: border-box;
  border: 1px solid #19191a;
  border-top-right-radius: 0.35rem;
  border-top-left-radius: 0.35rem;
  color: #000;
}

.line {
  font-size: 18px;
  font-weight: bold;
  width: 110%;
}

.days {
  font-size: 30px;
  font-weight: bolder;
}

.slrd {
  color: #bac5e3;
  font-size: 15px;
  width: 110%;
}

.break-line {
  height: 2px;
  background-color: #c7cbe4;
  margin-top: 3em;
  margin-bottom: 2em;
}






@media (min-width: 576px) {
  .card-deck {
    display: flex;
    flex-flow: row wrap;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
  }

  .card-deck .card {
    flex: 1 0 0%;
    margin-right: 0.75rem;
    margin-bottom: 0;
    margin-left: 0.75rem;
  }
}

.card-group>.card {
  margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
  .card-group {
    display: flex;
    flex-flow: row wrap;
  }

  .card-group>.card {
    flex: 1 0 0%;
    margin-bottom: 0;
  }

  .card-group>.card+.card {
    margin-left: 0;
    border-left: 0;
  }

  .card-group>.card:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .card-group>.card:not(:last-child) .card-img-top,
  .card-group>.card:not(:last-child) .card-header {
    border-top-right-radius: 0;
  }

  .card-group>.card:not(:last-child) .card-img-bottom,
  .card-group>.card:not(:last-child) .card-footer {
    border-bottom-right-radius: 0;
  }

  .card-group>.card:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .card-group>.card:not(:first-child) .card-img-top,
  .card-group>.card:not(:first-child) .card-header {
    border-top-left-radius: 0;
  }

  .card-group>.card:not(:first-child) .card-img-bottom,
  .card-group>.card:not(:first-child) .card-footer {
    border-bottom-left-radius: 0;
  }
}

.card-columns .card {
  margin-bottom: 0.75rem;
}

@media (max-width: 1200px) {
  #lrd {
    margin-left: 6em;
    margin-right: 6em;
  }
}

@media (max-width: 990px) {
  #lrd {
    margin-left: 2em;
    margin-right: 2em;
  }

  .img-tdc {
    vertical-align: sub;
    margin-bottom: -29px;
  }

}

@media (min-width: 576px) {
  .card-columns {
    -moz-column-count: 3;
    column-count: 3;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
  }

  .card-columns .card {
    display: inline-block;
    width: 100%;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #fff;
  cursor: default;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #c5cde9;
  bottom: 0;
  left: calc(50% - 20px);
  border-radius: 20px;
}

.section-title p {
  margin-bottom: 0;
  cursor: default;
}



/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #262626;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}

#footer h3 {
  font-size: 36px;
  font-weight: 700;
  position: relative;
  font-family: "DM Sans", sans-serif;
  padding: 0;
  margin: 0 0 15px 0;
}

#footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
}

#footer .social-links {
  margin: 0 0 40px 0;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #c5cde9;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #99a0b5;
  color: #fff;
  text-decoration: none;
}

#footer .copyright,
#footer .modified {
  margin: 0 0 5px 0;
  cursor: default;
}